    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/functions.js"></script>
</body>
<footer class="fixed-bottom bg-primary footer-main">
    <div class="text-center text-white footer-int">© 2020 Copyright</div>
</footer>
</html>